{% extends "base.html.twig" %}
{% block title %}Acceuil{% endblock %}

{% block body %}

<h1 style = "text-align: center;"> Acceuil </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam odio, auctor sit amet malesuada et, venenatis ac sapien. Proin facilisis efficitur dignissim. Mauris non eros ac felis commodo sodales. Nunc varius imperdiet tincidunt. Aliquam ipsum orci, consectetur quis finibus ut, efficitur ut dui. Proin a magna rutrum, lobortis turpis et, imperdiet metus. Cras commodo porta laoreet. Sed at lectus quis orci euismod commodo. Praesent in fermentum lorem, ut molestie mauris. Maecenas in laoreet felis. Mauris porta lectus metus. Cras ut sapien vestibulum, varius est a, pharetra velit. Vestibulum a sapien leo. Quisque molestie facilisis scelerisque. Curabitur et lectus id dolor ullamcorper ornare sit amet eget augue. Nunc id orci vestibulum, tempus magna quis, luctus sem.</p>

{% endblock %}


