{% extends "base.html.twig" %}

{% block title %} Messagerie {% endblock %}


{% block body %}

<h1 style="background-color: grey; color: orange; text-align: center;"> Messagerie </h1>


{% endblock %}