{% extends "base.html.twig" %}

{% block title %}Modifier un employées{% endblock %}


{% form_theme formEmploye 'bootstrap_4_layout.html.twig' %}

{% block body %}

    
        <h1>Modifier employé !</h1>

        {{ form_start(formEmploye) }}

        {{ form_widget(formEmploye) }}

        <button type="submit" class="btn btn-success">
                Enregistrer la modification
        </button>

        {{ form_end(formEmploye) }}


    

    {% else %}

        <h2 style = "position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 70%; height: 40%; text-align: center;"> Veuillez vous connecter </h2>

    {% endif %}

{% endblock %}