{% extends "base.html.twig" %}

{% block title %} Statistique {% endblock %}

{% block body %}

        <style>
            body{ background-image: url('/assets/fondecran.png');}
        </style>

<h1 style="background-color: grey; color: orange; text-align: center;"> Statistique </h1>



{% endblock %}