{% extends "base.html.twig" %}

{% block title %} Statistique {% endblock %}

{% block body %}

<h1 style="background-color: grey; color: orange; text-align: center;"> Statistique </h1>



{% endblock %}