{% extends "base.html.twig" %}

{% block title %} Statistiques {% endblock %}

{% block head %} 
<style>
    body{ background-image: url('assets/fondecran2.png');}
            #area-chart,
            #line-chart,
            #bar-chart,
            #stacked,
            #pie-chart{
                min-height: 250px;
                }
</style>
{% endblock %}

{% block body %}

<h1 style="background-color: grey; color: orange; text-align: center;"> Statistiques </h1>

<iframe title="[Service Orange ]" aria-label="chart" id="datawrapper-chart-34HA3" src="https://datawrapper.dwcdn.net/34HA3/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none; color: white;" height="554"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
</script>

<iframe title="Masse Salariale part service" aria-label="chart" id="datawrapper-chart-nKyGv" src="https://datawrapper.dwcdn.net/nKyGv/2/" scrolling="no" frameborder="0" style="border: none;" width="600" height="551"></iframe>


<script> 
</script>

{% endblock %}
