{% extends "base.html.twig" %}

{% block body %}

        <style>
            h1{ text-align: center; }
            body{ background-image: url('/assets/fondecran.png');}
        </style>

    <div class="" style = " position: absolute; margin: auto; top: 0; right: 0; bottom: 0; left: 0; width: 70%; height: 40%; text-align: center;">
        <h1> Connexion </h1>
        <div id="formContent">
    
            <form action="{{ path('page_login') }}" method="POST">
                <input placeholder="Adresse mail" type="text" required name="_username">
                <input type="password" required name="_password" class="fadeIn third" placeholder="Mot de passe">
                <button type="submit" class="btn btn-success" value="Log In"> Connexion </button>
            </form>
        </div>
    </div>





{% endblock %}