
{% block title %} Conges {% endblock %}

{% block body %}

        <style>
            body{ background-image: url('/assets/fondecran.png');}
        </style>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% endblock %}