{% extends 'base.html.twig' %}

{% block title %}New Conges{% endblock %}

{% block body %}

        <style>
            body{ background-image: url('/assets/fondecran.png');}
        </style>

    <h1>Create new Conges</h1>

    {{ include('conges/_form.html.twig') }}

    <a href="{{ path('conges_index') }}">back to list</a>
{% endblock %}
